@model DetailsEmployeeVM
@{
    ViewData["Title"] = (Model.FirstName + Model.LastName);
}

<section style="background-color: #f4f5f7;">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="card mb-3" style="border-radius: .5rem; color:black">
            <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center"
                     style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img src="~/img/employeePhotos/@Model.PhotoPath"
                         alt="Avatar" class="img-fluid my-5" style="width: 300px;" />
                    <h3 class="text-dark">@Model.FirstName @Model.LastName</h3>
                    <p class="text-dark">@Model.Profession</p>
                    <p class="text-dark">@Model.Title</p>
                    <form asp-action="EditEmployee" asp-route-id="@Model.Id" method="get">
                        <input type="hidden" asp-for="Id" />
                        <button class="mb-5" type="submit">
                            <i style="font-size: 1.5rem" class="far fa-edit "></i>
                        </button>
                    </form>
                </div>
                <div class="col-md-8">
                    <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-baseline">
                            <h5 class="fw-bolder text-primary">Employee Information</h5>
                        </div>
                        <hr class="mt-0 mb-4">
                        <div class="row pt-1">
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Identity</h5>
                                <p class="text-dark">@Model.Identity</p>
                            </div>
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Email-Username</h5>
                                <p class="text-dark">@Model.Email</p>
                            </div>
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Phone</h5>
                                <p class="text-dark">@Model.PhoneNumber</p>
                            </div>
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Address</h5>
                                <p class="text-dark">@Model.Address</p>
                            </div>
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Birthday</h5>
                                <p class="text-dark">@Model.Birthday.ToShortDateString()</p>
                            </div>
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Blood Group</h5>
                                <p class="text-dark">@Model.BloodGroup</p>
                            </div>
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Gender</h5>
                                <p class="text-dark">@Model.Gender</p>
                            </div>
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Martial Status</h5>
                                <p class="text-dark">@Model.MaritalStatus</p>
                            </div>
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Role</h5>
                                <p class="text-dark">@Model.Role</p>
                            </div>
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Work Unit</h5>
                                <p class="text-dark">@Model.WorkUnit</p>
                            </div>
                            @*<div class="col-6 mb-3">
                                    <h5 class="fw-bolder text-info">Profession</h5>
                                    <p class="text-dark">@Model.Profession</p>
                                </div>*@
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Job Start Date</h5>
                                <p class="text-dark">@Model.JobStartDate.ToShortDateString()</p>
                            </div>
                            @if (Model.DismissalDate != null && Model.NewJobStartDate != null)
                            {
                                <div class="col-6 mb-3">
                                    <h5 class="fw-bolder text-info">Dismissal Date</h5>
                                    <p class="text-dark">@(((DateTime)Model.DismissalDate).ToShortDateString())</p>
                                </div>
                                <div class="col-6 mb-3">
                                    <h5 class="fw-bolder text-info">Return Job Date</h5>
                                    <p class="text-dark">@(((DateTime)Model.NewJobStartDate).ToShortDateString())</p>
                                </div>
                            }
                            <div class="col-6 mb-3">
                                <h5 class="fw-bolder text-info">Activity Status</h5>
                                <p class="text-dark">@(Model.ActivityStatus == EnumActivityStatus.Passive ? "Passive" : "Active")</p>
                            </div>
                        </div>
                        @*<div class="d-flex justify-content-start">
                                <a href="#!"><i class="fab fa-facebook-f fa-lg mr-3"></i></a>
                                <a href="#!"><i class="fab fa-twitter fa-lg mr-3"></i></a>
                                <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                            </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<a asp-action="ListEmployees">&laquo; Back to employee list..</a>

