@model List<ListPackageVM>
@{
    ViewData["Title"] = "Package List";
}
<h1 class="text-primary">Package List</h1>

<p>
    <a class="btn btn-success" asp-action="CreatePackage">Create Package</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr class="text-info">
            <th>Photo</th>
            <th>Package Name</th>
            <th>Amount</th>
            <th>Number of Users</th>
            <th>Publish Start Date</th>
            <th>Publish End Date</th>
            <th>Usage Time</th>
            <th>Activity Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="align-items-baseline">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/img/packagesImages/@item.PhotoPath" alt="Image" width="80" class="rounded" />
                </td>
                <td class="text-dark">@item.PackageName</td>
                <td class="text-dark">@item.Amount.ToString("n2") @item.CurrencyUnit</td>
                <td class="text-dark">@item.NumberofUsers</td>
                <td class="text-dark">@item.PublishStartDay.ToShortDateString()</td>
                <td class="text-dark">@item.PublishEndDay.ToShortDateString()</td>
                <td class="text-dark">@item.UsageTime</td>
                <td class="text-white bg-gradient-secondary">@(item.ActivityStatus.ToString())</td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(".table").DataTable({
            "order": []
        });
    </script>
}