@model List<Permission>
@{
    ViewData["Title"] = "Permission List";
    bool isPending = false;
}
<h1 class="text-primary">Permissions List</h1>

@if (Model == null)
{
    <h5>There is no permission request yet.</h5>
}

<table class="table table-striped table-bordered">
    <thead>
        <tr class="text-info">
            <th>Permit Type</th>
            <th>Employee Full Name</th>
            <th>Permit Start Date</th>
            <th>Permit End Date</th>
            <th>Duration</th>
            <th>Status</th>
            <th>Reply Date</th>
            
            @if (Model.Any(x => x.PermissionStatus == EnumPermissionStatus.Pending))
            {
                isPending = true;
                <th></th>
            }
        </tr>
    </thead>
    <tbody class="align-items-baseline">
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-dark">@(item.PermitType == EnumPermission.MarriagePermission ? "Marriage Permission" : (item.PermitType == EnumPermission.AnnualPermit ? "Annual Leave" : (item.PermitType == EnumPermission.PaternityLeave ? "Paternity Leave" : (item.PermitType == EnumPermission.AdministrativeLeave ? "Administrative Leave" : "Excuse Leave"))))</td>
                <td class="text-dark">@item.Employee.FirstName @item.Employee.LastName</td>
                <td class="text-dark">@item.PermitStartDate.ToShortDateString()</td>
                <td class="text-dark">@(((DateTime)item.LeaveExpiryDate).ToShortDateString())</td>
                <td class="text-dark">@item.Duration Day(s)</td>
                <td class="@(item.PermissionStatus == EnumPermissionStatus.Pending ? "text-warning" : (item.PermissionStatus == EnumPermissionStatus.Approved ? "text-success" : "text-danger"))">@item.PermissionStatus</td>
                @if (item.ReplyDate != null)
                {
                    <td>@(((DateTime)item.ReplyDate).ToShortDateString())</td>
                }
                else
                {
                    <td>Not replied yet.</td>
                }
                @if (item.PermissionStatus == EnumPermissionStatus.Pending)
                {
                    <td>
                        <a id="btnYes" data-employee-id="@item.Employee.Id" data-accept-request="@item.Id" href="#">
                            <i class="fa-solid fa-check text-success px-2 fw-bold"></i>
                        </a>
                        <a id="btnNo" class="ml-2" data-reject-request="@item.Id" href="#">
                            <i class="fa-solid fa-xmark text-danger fw-bold"></i>
                        </a>
                    </td>
                }
                else
                {
                    if (isPending)
                    {
                        <td></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
<form id="frmAccept" asp-action="ConfirmRequest" method="post">
    <input type="hidden" id="confirmId" name="confirmId" value="" />
    <input type="hidden" name="employeeId" id="employeeId" value="" />
</form>
<form id="frmReject" asp-action="RejectRequest" method="post">
    <input type="hidden" name="rejectId" id="rejectId" value="" />
</form>

@section Scripts{
    <script>
        $("#btnYes").click(function (event) {
            event.preventDefault();
            var confirmId = $(this).data("accept-request");
            var employeeId = $(this).data("employee-id");
            $("#confirmId").val(confirmId);
            $("#employeeId").val(employeeId);
            $("#frmAccept").submit();
        });

        $("#btnNo").click(function (event) {
            event.preventDefault();
            var rejectId = $(this).data("reject-request");
            $("#rejectId").val(rejectId);
            $("#frmReject").submit();
        });

        $(".table").DataTable({
            "order": []
        });
    </script>
}